<h1> Welcome to my Twitter profile! </h1>
<div class="profile">
<h1> Cameron Reynolds </h1>
<img src="GradPhoto.jpg" />
<h2> I am a reporting associate for Morgan Stanley. </h2>
<p> I want to learn to code because I am interested in developing apps for the Apple Watch. </p>
<a href="https://developer.apple.com/library/watchos/documentation/General/Conceptual/WatchKitProgrammingGuide/index.html?utm_source=designernews"> WatchOS_Development </a>
</div>
<img src="http://placekitten.com/g/50/50" />
